@import url("https://fonts.googleapis.com/css?family=Spectral+SC&display=swap");

.landingContainer {
  background-color: gray;
  padding-top: 50px;
  padding-bottom: 500px;
  color: white;
}

.landingH1 {
  text-align: center;
  font-family: "Spectral SC", serif;
}

.landingH3 {
  text-align: center;
}

.landingH4 {
  text-align: center;
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
